<html>

<head>
<title>Title</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>


<!--begin.rcode
library(ggplot2)

# Set global chunk options
opts_chunk$set(cache=TRUE)
print(load("Y:/Macro/forestproductsdemand/enddata/EU27 paper products demand.rdata"))
pp = paperProducts # Give a shorter name to the data frame


end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
ggplot(data=subset(ppagg, !Element%in%c("Import_Value", "Export_Value","Price"))) +  
    geom_line(aes(x=Year, y=Value/1e6, colour=Item),size=1) +
    facet_wrap(~Element) +
    ylab("Million metric Ton") + theme_bw()

end.rcode-->

</body>
</html>
